<div class="row">
  <div class="col-md-12 col-sm-12">
    <table class="table">
      <th>Msisdn</th>
      <% @dse.each do |d| %>
        <td><%= d.msisdn %></td>
      <% end %>
    </table>
  </div>
</div>
